.card {
  width: calc(100% - 2rem);
  margin: 1rem;
  text-align: justify;
  border: 1px solid #cecece;
  box-shadow: 0 0 2px -2px gray;
}
.star {
  color: rgb(248, 184, 6);
}
.cardHeader {
  display: flex;
  justify-content: space-between;
}
.cartHeader_marginTop {
  margin-top: 0.5rem;
  text-transform: capitalize;
}
.productContainer {
  width: 20rem;
  margin: 0 10px;
}
.productImgContainer {
  width: 13rem;
  height: 8rem;
  overflow: hidden;
  text-align: center;
  margin: 1.25rem auto 0 auto;
}
.productImgContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.productInfo {
  text-align: center;
  font-size: 1.25rem;
}
.productInfo_name {
  height: 3.5rem;
  margin: 1.5rem 0 0 0;
}
.productInfo_display {
  display: flex;
  margin: 0.5rem 0;
  justify-content: center;
}
.showQuantity {
  margin-left: 1rem;
  margin-top: 0.1rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.productPrice {
  font-weight: 700;
  display: flex;
  justify-content: space-around;
}
.Oldprice {
  font-weight: 350;
  text-decoration: line-through;
}
.wrapper {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
}
.card_parent {
  position: relative;
  border: 1px solid #2874f0;
  margin-bottom: 2.25rem;
  padding: 0.75rem 1.5rem 2rem 1.5rem;
  margin-left: 1.25rem;
  transition: 0.3s;
  transform: scale(1);
}
.card_parent:hover {
  border-style: outset;
  border: 2px solid red;
  transform: scale(1.05);
}
.home-product-item__favourite {
  position: absolute;
  height: 1.75rem;
  width: 7.5rem;
  top: 0;
  color: white;
  text-align: center;
  font-size: 0.75rem;
  z-index: 999999999;
  padding-top: 0.25rem;
  background-color: rgb(255, 51, 0);
  left: 0;
  font-weight: 500;
  text-transform: uppercase;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.checkOutline {
  margin-right: 0.5rem;
  margin-top: 0;
  font-weight: 800;
  padding-top: 0;
  top: 0;
}
/* .home-product-item__favourite span{
      color: #FFF;
      padding-top: 0;
      margin-top: 0;
      top:0;
      font-size: 1rem;
    } */
.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 180, 59, 0.9);
  width: 3rem;
  height: 4rem;
  display: flex;
  z-index: 9999;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-right-radius: 5px;
}
.home-product-item__sale-off::before {
  display: flex;
  content: "";
  position: absolute;
  color: white;
  background: white;
  border-width: 0px 23px 15px 25px;
  border-color: red rgba(255, 180, 59, 0.9) transparent rgba(255, 180, 59, 0.9);
  border-style: solid;
  margin: auto;
  bottom: -5px;
  left: 0;
}
.home-product-item__sale-off-percent {
  font-weight: 800;
  color: #ee4d2d;
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: 1.25rem;
}
.home-product-item__sale-off-label {
  font-weight: 600;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding-left: 0;
  margin-left: 0;
  position: absolute;
  bottom: 3px;
}
.add_to_cart {
  background-color: #2874f0;
  border: none;
  margin-top: 0.5rem;
  color: white;
  padding: 0.5rem 2rem;
}
.add_to_cart:hover {
  background-color: #1707f1;
}
/* .product:hover {
    text-decoration: none;
  } */
.in_cart {
  cursor: not-allowed;
}
.store_product {
  display: grid;
  grid-template-columns: 20% 80%;
  text-align: justify;
  grid-column-gap: 1rem;
  margin: 1rem;
}
.store_product_left {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.store_product_right {
  display: flex;
  padding: 1rem 1rem 0.25rem 1.25rem;
  flex-direction: column;
  border: 1px solid grey;
}
.store_product_right_top {
  display: flex;
  justify-content: center;
  align-items: center;
}
#standard-basic {
  width: 50vw;
  font-size: 1rem;
}
.store_product_right_top_left {
  font-size: 1rem;
  color: black;
  font-weight: 600;
}
.store_product_right_top_right {
  margin-top: 0;
  padding-top: 0;
  margin-left: 1rem;
}
.divide {
  margin: 1.5rem 1.25rem 2.25rem 1.25rem;
  border-bottom: 1px solid #2874f0;
}
.store_product_left_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.store_product_left_title_name {
  font-size: 1.25rem;
  color: black;
  margin-left: 0.25rem;
  font-weight: 600;
}
.store_product_left_price {
  margin: 1rem 0;
}
.store_product_left_price_range {
  font-size: 1rem;
  color: black;
  font-weight: 600;
}
.store_product_left_price_range_name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.store_product_left_price_range_name_under {
  margin-left: 0.5rem;
}
.store_product_left_star {
  margin: 0.5rem 0;
}
.star_left {
  margin-right: 0.5rem;
  color: rgb(248, 184, 6);
  margin-bottom: 0.5rem;
}
.star_left_press {
  color: #2874f0;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.store_product_left_sort {
  display: flex;
  cursor: pointer;
}
.store_product_left_sales {
  display: flex;
  background-color: rgba(255, 180, 59, 0.9);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  text-align: center;
  width: 5.5rem;
}
.store_product_left_sales_press {
  display: flex;
  background-color: rgba(235, 148, 10, 0.9);
  border-radius: 1rem;
  color:white;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  text-align: center;
  width: 5.5rem;
}
.store_product_left_sales:hover {
  cursor: pointer;
}
.sales_store {
  display: flex;
  margin: 0.5rem 0;
  justify-content: flex-start;
}
.sales_icon {
  color: #ee4d2d;
}
.sales {
  font-weight: 900;
  font-size: 1rem;
  color: #ee4d2d;
  margin-left: 0.25rem;
}
.reset {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  margin-top: 0.5rem;
  color: white;
  border-radius: 0.25rem;
  background-color: rgb(233, 52, 52);
  padding: 0.5rem 2.5rem;
}
.position {
  margin: 0.25rem 0;
}
.reset:hover {
  color: white;
  background-color: red;
}