:root {
  --primaryColor: #f1f1f1;
  --black: #222;
  --black2: #555;
  --black3: #252525;
  --black4: #000;
  --while-color: #fff;
  --text-color: #333;
  --primary-color: rgb(238, 75, 43);
  --primary-color-a: rgba(238, 75, 43, 0.05);
  --border-color: #dbdbdb;
  --navbar-height: 34px;
  --header-height: 120px;
  --sort-height: 48px;
  --header-with-search: calc(var(--header-height) - (var(--navbar-height)));
  --black5: #212529;
  --orange: #eb0028;
  --white: #fff;
  --grey: #959595;
  --grey2: #666;
  --grey3: #ccc;
  --secondaryColor: #2b1f4d;
  --yellow: #ffcc00;
  --green: #59b210;
  --blue: rgb(56, 10, 223);
  --main-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Herr Von Muellerhoff", cursive;
  --body-font: "Cabin", sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --Abel: "Abel", cursive;
  --Anton: "Anton", cursive;
  --Josefin: "Josefin", cursive;
  --Lexend: "Lexend", cursive;
  --Livvic: "Livvic", cursive;
}
.watch_product_main {
  background-color: white;
}
.watch_product_body {
  background-color: white;
}
.product-details__section {
  padding: 2.5rem 2.5rem;
}
.header__cart-container_heard {
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
}
.header__cart-container_heard .cart_icon_heard {
  font-size: 2rem;
  color: red;
}
.heard_title {
  font-size: 1rem;
  font-weight: 600;
}
.heard {
  display: flex;
  margin-left: 1rem;
  justify-content: flex-start;
  align-items: center;
}
.header__cart-notice_heard {
  color: white;
  padding: 1px 8px;
  background-color:  tomato;
  position: absolute;
  top: -8px;
  left: 20px;
  line-height: 1rem;
  border-radius: 10px;
  border: 2px solid white;
}
.product-detail__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.product-detail__left {
  /* flex: 0 0 50%; */
}
.details__container--left {
  display: flex;
  /* ép 2 thẻ div nằm ngang và nằm sát nhau */
  /* align-items: flex-start; */
  justify-content: flex-start;
}
.picture {
  image-rendering: pixelated;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}
.product__pictures {
  display: flex;
  flex-direction: column;
}
.pictures__container {
  padding: 1.5rem;
  border: 1px solid var(--grey3);
  border-right-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.pictures__container:not(:last-child) {
  border-bottom-color: transparent;
}

.pictures__container:hover {
  border: 1px solid var(--orange);
}

.pictures__container img {
  transition: 0.3s;
  transform: scale(1.5);
}

.pictures__container:hover img {
  transform: scale(2.5);
}
.product__picture {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  object-fit: contain;
  padding: 1rem 0;
  border: 1px solid var(--grey3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-details__btn {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  justify-content: space-between;
}

.product-details__btn a {
  flex: 0 0 47%;
  padding: 0.5rem 0;
  font-weight: 800;
  display: inline-block;
  color: var(--black);
  border: 1px solid var(--black);
}
.content {
}
.parent_tab {
  overflow: auto;
  max-height: 15rem;
}
.child_tab {

}
.list_question {
  border-bottom: 1px solid var(--grey3);
}
.description_tab {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}
.question_image {
  height: 2.25rem;
  width: 2.25rem;
  margin-right: 0.75rem;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.question_input {
  width: 15rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: white;
  font-weight: 600;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}
.question_input:focus {
  width: 100%;
}
.form_question {
  display: flex;
  margin: 0 1rem 1rem 1rem;
  justify-content: flex-start;
}
.button:hover {
  background-color: var(--black4);
}
.button {
  background-color: var(--black3); /* Green */
  border: 1px solid black;
  color: white;
  padding: 0 3rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.content_tab {
  overflow: auto;
  font-weight: 600;
  text-transform: capitalize;
  text-align: justify;
  width: 81.5vw;
}
.margin-right-10 {
  margin-right: 1rem;
}
.product-details__btn .add,
.product-details__btn .buy {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.product__btn_product:hover {
  text-decoration: none;
}
.product-details__btn .add span,
.product-details__btn .buy span {
}
.root {
  width: 100%;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid var(--grey3);
  margin-top: 2rem;
}
.product-details__btn .add:hover,
.product-details__btn .buy:hover {
  background-color: var(--black);
  color: var(--primaryColor);
  text-decoration: none;
}

.product-details__btn .add:hover i,
.product-details__btn .buy:hover i {
  color: var(--primaryColor);
}

.product-detail__right {
  flex: 0 0 50%;
}
.product-detail__content {
  width: 100%;
  padding-left: 2.5rem;
  text-align: justify;
}

.product-detail__content h3 {
  font-size: 1.75rem;
  font-weight: 800;
}
.product__review .rating__quatity {
  font-size: 1.25rem;
}
.product__review .rating__quatity:hover {
  text-decoration: none;
}
.rating .star_color {
  color: var(--yellow);
  font-size: 1.75rem;
}
.product-detail__content .product__review {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid var(--grey3);
}
.product-detail__content > p {
  font-size: 1.25rem;
  color: var(--black2);
  line-height: 1.75rem;
  height: 6.75rem;
  padding: 0 0.5rem 0.5rem 0;
  overflow: scroll;
  text-align: justify;
}

.cart__totals .new__price {
  font-size: 2rem;
}
.new__price {
  font-size: 1.5rem;
  text-align: justify;
  margin-left: 0;
  padding-left: 0;
  font-weight: 600;
  color: red;
}
.product__subtotal .price .new__price,
.product__price .price .new__price {
  font-size: 2rem;
}
.product__review a:link,
.product__review a:visited {
  color: red;
}
.rating {
  padding-right: 2rem;
}
.product__info li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.product__info {
  text-align: justify;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.product__info-container {
  margin-top: 0;
  padding-top: 0;
  top: 0;
}
.product__info .in-stock {
  color: var(--green);
}

.product__info li a {
  font-size: 1.25rem;
  color: red;
  font-weight: 500;
}
.product__info p {
  font-size: 1.25rem;
  margin-left: 0;
  margin-right: 0.5rem;
  color: black;
  padding-left: 0;
  font-weight: 700;
}
.product-info__btn span i {
  width: 1.5rem;
  height: 1.5rem;
}

.product-info__btn {
  display: flex;
  text-align: justify;
  margin-left: 0;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
  justify-content: flex-start;
}

.product-info__btn a {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black2);
}
.product-info__btn a:hover {
  text-decoration: none;
}
.margin-right-10 {
  margin-right: 0.5rem;
}
.product-info__btn a:not(:last-child) {
  margin-right: 1rem;
}
.breed ul {
  padding-left: 0;
  margin-bottom: 0.5rem;
  margin-left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.breed ul li {
  list-style: none;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.breed ul li a {
  text-decoration: none;
  color: #777;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 0.5rem;
}
.priceOld_product {
  text-decoration: line-through;
}
.priceOld_product:hover {
  text-decoration: none;
  text-decoration: line-through;
}
.product-details__btn .show {
  display: block;
}
.product-details__btn .hidden {
  display: none;
}
