/* .header{
  width: 100%;
  height: 4rem;
  background: #2874f0;
}
.subHeader{
  max-width: 1100px;
  width: 100%;
  height: 4rem;
  display: flex;
  margin: 0 auto;   
  align-items: center;
  justify-content: center;
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
}
.logo .logoimage{
  width: 5rem;
}
.logo_icon {
  display: flex;
}
.exploreText{ 
  font-size: 0.75rem;
  width: 2rem;
  color: white;
  text-decoration: none;
  font-style: italic; 
}
.plusText{ 
  width: 2rem;
  margin-left: 0.25rem;
  color: white;
  font-size: 0.75rem; 
  text-decoration: none;
  text-transform: capitalize;
  font-style: italic;
}
.logo .goldenStar{
  width: 0.75rem;
  height: 0.75rem;
  margin-top: 0.25rem;
}





.searchInputContainer {
  width: 30rem;
  position: relative;
  background: white;
  height: 2.5rem;
  border-radius: 1px;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
}
.searchInput {
  border: 0;
  height: 36px;
  outline: none;
  box-sizing: border-box;
  padding: 0 10px;
}
.searchIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  font-weight: 800;
  cursor: pointer;
}





.rightMenu{
  display: flex;
  
  justify-content: flex-end;
  align-items: center;
}
.loginButton {
  display: block;
  width: 100px;
  height: 30px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  color: #2874f0;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.more {
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
}
.cart {
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px
}

.authContainer{
color: #212121;
margin: 0 auto;
border-radius: 2px;
height: 528px;
max-width: 750px;
min-width: 650px;
}
.row{
width: 100%;
display: flex;
flex-flow: row wrap;
height: 528px;
  max-width: 750px;
  min-width: 650px;
}

.leftspace{
width: 40%;
height: 100%;
color: #fff;
letter-spacing: 1px;
background-image: url('../../assets/images/login-image.png');
background-color: #2874f0;
background-repeat: no-repeat;
background-position: center 85%;
padding: 40px 33px;
box-sizing: border-box;
}

.rightspace{
display: flex;
flex: 1;
flex-direction: column;
align-items: center;
} */

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
:root {
  --while-color: #fff;
  --text-color: #333;
  --primary-color: rgb(238, 75, 43);
  --primary-color-a: rgba(238, 75, 43, 0.05);
  --border-color: #dbdbdb;
  --navbar-height: 34px;
  --header-height: 120px;
  --sort-height: 48px;
  --header-with-search: calc(var(--header-height) - (var(--navbar-height)));
}
* {
  box-sizing: inherit;
}
.html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.grid {
  max-width: 100vw;
  width: 100%;
  display: block;
  padding: 0 1rem;
}
.wide {
  width: 100%;
}
/*animation*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scale {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.btn {
  min-width: 142px;
  height: 30px;
  border: 0;
  text-decoration: none;
  border-radius: 3px;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: #333;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.btn.btn--primary {
  text-transform: capitalize;
  background-color: var(--primary-color);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.btn.btn--primary:hover {
  text-transform: capitalize;
  background-color: #0854f8;
  color: #fff;
}

.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #2874f0, #0854f8);
  background-color: var(--primary-color);
}
.nav__navbar {
  display: flex;
  justify-content: space-between;
  height: 1.5rem;
}
.header__navbar-list {
  list-style: none;
  text-transform: capitalize;
  color: var(--while-color);
  display: flex;
  justify-content: center;
}
.header__navbar-item-link {
  text-decoration: none;
  color: var(--while-color);
  display: inline-block;
  position: relative;
}
.header__navbar-item {
  text-decoration: none;
  color: var(--while-color);
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem 1rem 0 0;
  position: relative;
}
.header__navbar-user {
  display: flex;
  padding-right: 1.5rem;
  position: relative;
}
.header__navbar-user-img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-name {
  font-size: 1rem;
  margin-left: 0.25rem;
}
.header__navbar-user-list {
  list-style: none;
  position: absolute;
  top: 35px;
  right: 10px;
  padding-left: 0;
  z-index: 1;
  box-shadow: 0 5px 5px black;
  display: none;
  transition: all 0.3s ease-in-out;
}
.header__navbar-user:hover .header__navbar-user-list {
  display: block;
}
.header__navbar-user-list::before {
  content: "";
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  border-width: 15px 20px 15px 20px;
  position: absolute;
  top: -30px;
  left: 98px;
}
.header__navbar-user-list::after {
  content: "";
  top: -20px;
  left: 0;
  height: 30px;
  width: 150px;
  background-color: transparent;
  position: absolute;
}
.header__navbar-user-item {
  padding: 5px 4px;
  background-color: #fff;
  width: 150px;
  font-weight: 400;
  text-align: left;
}
.header__navbar-user-item:hover {
  background-color: #eee;
  text-decoration: none;
}
.header__navbar-user-link {
  text-decoration: none;
  color: #333;
  padding: 0 12px;
  margin: 0px;
  font-size: 0.9rem;
}
.header__navbar-user-log-out {
  color: red;
}
.header__navbar-item-link {
}
.header__navbar-item-icon {
  margin-right: 6px;
}
/* .header__navbar-item--saparate::after{
	content: "";
	height: 15px;
	width: 1px;
	background-color: #FB9086;
	display: block;
	position: absolute;
	top: 15%;
	right: 0%;
} */
.header__navbar-item-link:hover,
.header__navbar-item:hover,
.header-navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.header-navbar-icon-link {
  color: #fff;
  text-decoration: none;
}
/*QR code*/
.header__qr {
  width: 12rem;
  padding-bottom: 0.5rem;
  z-index: 9;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 30px;
  border-radius: 2px;
  opacity: 0;
  animation: fadeIn ease-in 0.3s;
  display: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.header__qr--img {
  width: 100%;
}
.header__qr--apps {
  display: flex;
  justify-content: space-between;
}
.header-navbar-icon-link .header__navbar-icon {
  font-size: 1.25rem;
}
.header__qr-link:nth-child(1) {
  margin-left: 13px;
}
.header__qr-link:nth-child(2) {
  margin-right: 15px;
}
.header__qr--download {
  height: 18px;
}
.header__navbar-item:hover .header__qr {
  opacity: 1;
  display: block;
}
.header__qr::before {
  position: absolute;
  left: 0;
  display: block;
  top: -18px;
  width: 100%;
  height: 30px;
  content: "";
}
/*header notification*/
.header__notify {
  width: 24.5rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 20px;
  background-color: white;
  opacity: 1;
  right: 7px;
  animation: headerNotify 0.3s;
  transform-origin: 90% top;
  margin-top: 10px;
  display: none;
  z-index: 11;
}
.header__notify::before {
  position: absolute;
  content: "";
  border-width: 20px 30px 20px 30px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  top: -30px;
  right: 10px;
}
.header__notify::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 110px;
  display: block;
  background-color: transparent;
  top: -15px;
  right: -12px;
}
@keyframes headerNotify {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.header__notify-header h5 {
  text-align: center;
  font-size: 1.25rem;
  color: black;
  font-weight: 600;
  padding: 0.25rem 0;
  cursor: text;
}
.header__notify-list {
  overflow: scroll;
  height: 70vh;
  padding-left: 0;
}
.header__notify-item-viewed {
  background-color: var(--primary-color-a);
}
.header__notify-item:hover {
  background-color: #f5f5f5;
}
.header__notify-link {
  display: flex;
  text-decoration: none;
}
.header__notify-img {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 1rem;
  image-rendering: pixelated;
}
.header__notify-name {
  display: block;
  font-size: 1rem;
  text-align: justify;
  padding-left: 0;
  margin-left: 0;
  text-transform: initial;
  color: #333;
  line-height: 1.5rem;
  font-weight: 400;
}
.header__notify-info {
  width: 22rem;
  margin: 0.5rem 0 0 0;
}
.header__notify-description {
  display: block;
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding-left: 0;
  margin-left: 0;
  text-align: justify;
  text-transform: initial;
  color: #756f6e;
}
.header__notify-footer {
  text-align: center;
  margin: 0.8rem;
  font-size: 1rem;
  background-color: #fff;
}
.header__notify-footer-link {
  text-decoration: none;
  font-weight: 400;
  color: rgb(72, 19, 218);
}
.header__navbar-item:hover .header__notify {
  display: block;
}
.header__navbar-item-link .header__navbar-icon {
  font-size: 1.25rem;
}

.header-with-search {
  height: var(--header-with-search);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo {
  width: 200px;
  margin: 0 0 0 80px;
}
.header-logo-img {
  width: 150px;
  fill: #fff;
}
.header-logo-link {
  display: block;
}
.header-logo-img.header__menu-category-header-icon {
  fill: var(--primary-color);
  width: 133px;
}
/*menu*/
.header__menu {
  margin-left: 50px;
  display: none;
}
.header__menu--input {
  display: none;
}
.header__menu-icon {
  font-size: 175%;
  color: #fff;
}
.header__container {
  display: flex;
}
.header__menu-category {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 40%;
  background-color: #fff;
  z-index: 11;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
}
#header__menu--checkbox:checked ~ .overlay {
  display: block;
}
#header__menu--checkbox:checked ~ .header__menu-category {
  transform: translateX(0);
  opacity: 1;
}
.header__menu-category-header {
  display: flex;
  margin: 1rem 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.dot {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header__menu-category-header-container-logo {
  cursor: pointer;
}
/* .header__menu-category-header-close{
	margin-top: 24px;
} */
.header__menu-category-header-close-icon {
  height: 16px;
  width: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__menu-category-header-close-icon:hover {
  color: white;
}
.header__menu-category-list {
  list-style: none;
  padding: 0;
}
/* .header__menu-category-item{
	height: 56px;
} */
.header__menu-category-item:hover {
  background-color: #eee;
}
.header__menu-category-link {
  text-decoration: none;
  color: #333;
  display: block;
  height: 100%;
  font-size: 1.25rem;
  padding: 1.5rem;
}
.header-search {
  height: 40px;
  margin-top: 1rem;
  background-color: #fff;
  /* flex-grow: 1; */
  width: 40rem;
  border-radius: 2px;
  display: flex;
}
.header-search-contaier {
  flex: 1;
  /* flex-grow: 1; */
  position: relative;
}
.header-search-contaier::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -3px;
  height: 40px;
  width: 650px;
  background-color: transparent;
}
.header-search-input {
  height: 100%;
  width: 100%;
  text-indent: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #333;
  padding: 0px 5px;
  border-radius: 3px;
}
.header-search-input:focus ~ .header-search-input-list {
  display: block;
  z-index: 1;
}
/* .header-search-input-history{
	position: absolute;
	top: 50px;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: blue;
} */
.header-search-input-list {
  list-style: none;
  position: absolute;
  top: 2rem;
  left: 0;
  padding-left: 0;
  padding-bottom: 0.5rem;
  background-color: #fff;
  display: none;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.header-search-input-heading {
  color: #333;
  margin: 1rem 1rem 0.5rem 1rem;
}

.header-search-input-item {
  color: #8d8888;
  font-size: 0.8rem;
  text-align: justify;
  background-color: #fff;
}
.header-search-input-item:hover,
.header-search-input-item:hover .header-search-input-link {
  background-color: #eee;
}
.header-search-input-link {
  list-style: none;
  text-decoration: none;
  padding: 8px 16px;
  color: #333;
  background-color: #fff;
  width: 100%;
  display: block;
}
.header__search-mobile {
  width: unset;
  display: none;
  margin-left: 36px;
}
.header__search-mobile-input {
  display: none;
}
#header__search-mobile-checkbox:checked ~ .header-search {
  top: calc(var(--header-height) - var(--navbar-height));
  opacity: 1;
  display: flex;
}
.header__search-icon {
  font-size: 175%;
  color: #fff;
}
.header__cart {
  width: 184px;
  margin: 1rem 0 0 0;
  text-align: center;
  position: relative;
}
.header__cart-container:hover .header__cart-list {
  display: block;
}
.header__cart-container {
  display: inline-block;
  cursor: pointer;
}
.header__cart-icon {
  color: #fff;
  font-size: 2rem;
  margin: auto;
}
.header__cart-list {
  z-index: 1;
  position: absolute;
  top: calc(100% + 16px);
  right: 3rem;
  background-color: #fff;
  width: 20rem;
  border-radius: 2px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  display: none;
  cursor: default;
  max-height: 55vh;
}
.header__cart-no-cart-img {
  width: 50%;
  /*if not product is add display: none*/
}
.no-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__cart-list--no-cart-msg {
  /* display: block; */
  /*if not product is add*/
  /* display: none; */
  /* padding-bottom: 24px; */
  color: black;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 0.75rem 0 0.5rem 0;
}
.header__cart-list::before {
  content: "";
  position: absolute;
  border-width: 20px 26px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  top: -32px;
  right: 4%;
  cursor: pointer;
}
.header__cart-list::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 400px;
  background-color: transparent;
  top: -24px;
  right: 0;
}
.header__cart-notice {
  color: var(--primary-color);
  padding: 1px 8px;
  background-color: #fff;
  position: absolute;
  top: -8px;
  left: 96px;
  line-height: 1rem;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
}
.header__cart-list--no-cart .header__cart-list--no-cart-msg,
.header__cart-list--no-cart .header__cart-no-cart-img {
  display: block;
  margin: auto;
}
.header__cart-heading {
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0.5rem 0 0.75rem 0;
  border-bottom: 1px solid #cecece;
}
.header__cart-list-item {
  padding-left: 0;
  margin-left: 0;
  height: 10rem;
  overflow: scroll;
}
.header__cart-item {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid #cecece;
  justify-content: center;
  align-items: center;
}
.header__cart-item-container-img {
  width: 3rem;
  margin-left: 1rem;
  image-rendering: pixelated;
  height: 3rem;
}
.header__cart-item-img {
  width: 100%;
  height: 100%;
}
.header__cart-container .cart_icon {
  font-size: 2.5rem;
  color: white;
}
.header__cart-item-container-text {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.header__cart-item-header {
  display: flex;
  font-size: 1rem;
  padding-right: 1rem;;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}
.header__cart-item-info {
  color: black;
  width: 9rem;
  padding-right: 1.5rem;
  text-align: justify;
}
.header__cart-item-price {
  color: var(--primary-color);
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}
.header__cart-item-description {
  color: #aaa;
  width: 8rem;
  display: flex;
  justify-content: flex-start;
  font-size: 0.75rem;
}
.name_product {
  margin-left: 0.5rem;
}
.header__cart-item-type {
  color: #aaa;
  font-size: 0.9rem;
}
.header__cart-item-container-price {
  display: flex;
  justify-content: space-between;
}
.header__cart-item-remove {
  font-weight: 600;
  color: red;
  cursor: pointer;
}
.header__cart-item-remove:hover {
  cursor: pointer;
}
.header__cart-container-btn {
  margin-bottom: 1rem;
}
.header__cart-container-btn .header__cart-btn-footer {
  font-size: 1rem;
  padding-bottom: 2rem;
}
.header__cart-item:hover {
  background-color: #eee;
}
.header__cart-item-multiple {
  margin: 0 1rem;
}
.header-search {
  display: flex;
}
.header-search-select {
  display: flex;
  text-align: center;
  justify-content: center;

  border-left: 1px solid #ccc;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.header-search-select:hover .header-search-select-list {
  display: block;
  transform-origin: 90% top;
}
.header-search-select-list {
  z-index: 1;
  list-style: none;
  position: absolute;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  border: none;
  top: 80%;
  text-align: center;
  width: 100%;
  padding-left: 0;
  background-color: #fff;
  border-radius: 2px;
  display: none;
  animation: scale ease 0.1s;
}
.header-search-select-list::after {
  content: "";
  height: 30px;
  width: 200px;
  background-color: transparent;
  position: absolute;
  top: -14px;
  left: 0px;
}
.header-search-select-item {
  padding: 1rem 0;
  text-align: center;
}
.yellow {
  background-color: #ee4d2d;
  color: white;
}
.header-search-select-item:hover {
  background-color: #eee;
  cursor: pointer;
}
.header-search-icon {
  margin-left: 1.5rem;
}
.header-search-icon-down {
  font-size: 1.5rem;
  color: #333;
  margin-left: 16px;
}
.header-search-container-icon-search {
  border-radius: 3px;
  background-color: #2874f0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
  width: 8rem;
  border: none;
  outline: none;
}
.header-search-container-icon-search .search_icon {
  color: white;
}
.header-search-icon-search {
  color: #fff;
  font-weight: 400;
  display: flex;
  padding: 0.5rem 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.header-search-container-icon-search:hover {
  background-color: #200ae9;
  cursor: pointer;
}
/*app container*/
.app__container {
  background-color: #f5f5f5;
}
.app__content {
  padding: 1rem 0 0 0;
}
.category {
  background-color: #fff;
  border-radius: 2px;
  text-align: center;
}
.category__heading {
  color: #333;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0 1rem;
  padding: 0.8rem 0;
  font-weight: 800;
  margin-top: 0;
  border-bottom: 1px solid #e1e1e1;
}
.category-list {
  list-style: none;
  margin-left: 1rem;
  padding-left: 0;
  padding-bottom: 0.25rem;
  width: 85%;
}
.category-item {
  cursor: pointer;
  text-align: justify;
  /* position: relative; */
}
.category-item:first-child::after {
  display: none;
}
.category-item::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 16px;
  left: 16px;
  border-top: 1px solid #e1e1e1;
}
.category-item--active .category-item__link {
  /* color: red; */
}
.category-item__link {
  text-decoration: none;
  color: #333;
  /* position: absolute; */
  /* right: 0; */
  padding-bottom: 1rem;
  font-size: 0.8rem;
  display: block;
  transition: all 0.3s ease-in-out;
  /* margin-right: 10px; */
}
.category-item__link:hover {
  color: white;
  background-color: var(--primary-color);
}
/*home sort and filter*/
.home-filter {
  display: flex;
  background-color: rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  border-radius: 2px;
}
.home-filter__label {
  color: #333;
  font-size: 1rem;
  margin-right: 1.5rem;
}
.home-filter__btn {
  min-width: 90px;
  margin-right: 1.5rem;
  font-size: 1rem;
}
.home-filter__btn:hover {
  min-width: 90px;
  background-color: black;
  color: white;
}
.home-filter__page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}
.home-filter__page-num {
  display: flex;
  align-items: center;
}
/* .header-label-icon-down{
	font-size: 1.5rem;
	color: #333;
} */
.home-filter__page {
  padding-right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.home-filter__page-num {
  font-size: 1rem;
  color: #333;
  margin-right: 1.5rem;
}
.home-filter__page-current-inc {
  color: var(--primary-color);
}
.home-filter__page-control {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0px 5px 5px #eee;
}
.home-filter__page-btn {
  background-color: #fff;
  display: flex;
  width: 3vw;
  height: 6vh;
  margin-right: 1.5rem;
  text-decoration: none;
}
.home-filter__page-btn:hover {
  color: #fff;
  background-color: black;
}
.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}
.home-filter__page-btn-disible {
  background-color: #f9f9f9;
  cursor: default;
}
.home-filter__page-btn-disible .header-label-icon {
  /* color: #CCC; */
}
.header-label-icon {
  margin: auto;
  font-size: 0.8rem;
}
/* ||||||||||||||||||||||||||| */
.home-product-item {
  display: block;
  text-decoration: none;
  background-color: #fff;
  margin-top: 1rem;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.05s;
  will-change: transform;
}
.home-product-item:hover {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}
.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.home-product-item__name {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  margin: 10px 1rem 6px 1rem;
  line-height: 1rem;
  height: 2rem;
  text-align: left;
  /*display: block;
	text-overflow: ellipsis;
	white-space: nowrap;*/
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home-product-item__price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.home-product-item__price-old {
  font-size: 0.9rem;
  color: #666;
  text-decoration: line-through;
}
.home-product-item__price-current {
  font-size: 1rem;
  color: var(--primary-color);
}

.home-product-action {
  display: flex;
  align-items: center;
  margin: 0.25rem 1rem;
  justify-content: space-between;
}
.home-product-item__like {
  font-size: 0.8rem;
}
.home-product-item__rating {
  color: #d5d5d5;
  transform: scale(0.5);
  transform-origin: right;
}
.home-product-item-sold {
  font-size: 0.8rem;
  color: #333;
}
.home-product-item__rating .home-product-item__start--gold {
  color: rgb(243, 243, 55);
  font-size: 1rem;
}
.home-product-item__like-fill {
  display: none;
  color: red;
}
.home-product-item__like--liked .home-product-item__like-fill {
  display: block;
}
.home-product-item__like--liked .home-product-item__like-empty {
  display: none;
}
.home-product-item__origin {
  display: flex;
  color: #595959;
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0 1rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.8rem;
}
.home-product-item__favourite {
  position: absolute;
  top: 0.5rem;
  /* left: -4px; */
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 0.8rem;
  padding: 0px 0.5rem;
  line-height: 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.home-product-item__favourite-icon {
  font-size: 0.6rem;
  font-weight: 300;
  color: #fff;
}
.home-product-item__favourite span {
  color: #fff;
}
.home-product-item__favourite::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(40%);
}
.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 211, 59, 0.9);
  width: 40px;
  height: 36px;
  text-align: center;
  border-top-right-radius: 2px;
}
.home-product-item__sale-off::before {
  display: flex;
  content: "";
  position: absolute;
  border-width: 0px 20px 6px 20px;
  border-color: red rgba(255, 211, 59, 0.9) transparent rgba(255, 211, 59, 0.9);
  border-style: solid;
  margin: auto;
  bottom: -6px;
  left: 0;
}
.home-product-item__sale-off-percent {
  font-weight: 700;
  color: #ee4d2d;
  font-size: 0.9rem;
}
.home-product-item__sale-off-label {
  font-weight: 600;
  color: #fff;
  font-size: 0.8rem;
  position: absolute;
  bottom: 3px;
  left: 3.5px;
}
.home-product__pagination {
  margin: 2rem 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}
.home-filter-tablet-mobile {
  display: none;
}
/*sort*/
.header__sort {
  margin-top: calc(var(--header-height) - var(--navbar-height));
  display: none;
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header__sort-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0 0;
  height: var(--sort-height);
  width: 100%;
  background-color: #fff;
}
.header__sort-item {
  display: flex;
  border: 1px solid #eee;
  width: 100px;
  flex-grow: 1;
  text-align: center;
}
.header__sort-item.header__sort-item--active {
  border-bottom: 2px solid var(--primary-color);
}
.header__sort-item:first-child {
  border-left: none;
}
.header__sort-item:last-child {
  border-right: none;
}
.header__sort-link.header__sort-link--active {
  color: var(--primary-color);
}
.header__sort-link {
  display: flex;
  text-decoration: none;
  color: #333;
  margin: auto;
  /*width: 100%;*/
  height: 100%;
  line-height: var(--sort-height);
}
.header__sort-container-icon {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 4px;
}
.header__sort-icon {
  font-size: 50%;
}
.header__category--mobile {
  margin-top: 105px;
  display: none;
}
.header__category-list {
  display: flex;
  list-style: none;
  padding: 0;
  max-width: 29%;
  margin-bottom: 0;
  overflow-x: auto;
}
.header__category-list::-webkit-scrollbar {
  display: none;
}
.header__category-item {
  flex-shrink: 0;
  margin: 0 8px;
  border-radius: 4px;
  height: 40px;
  text-align: center;
  width: 110px;
  padding: 0 8px;
}
.header__category-item:nth-of-type(3n + 1) {
  background-color: #87afd8;
}
.header__category-item:nth-of-type(3n + 2) {
  background-color: #76c9bd;
}
.header__category-item:nth-of-type(3n + 3) {
  background-color: #88cf81;
}
.header__category-link {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  /*display: block;*/
  text-align: center;
  height: 40px;
  width: 110px;
  font-size: 85%;
  line-height: 20px;
}
.col.l-2-4.m-8.c-12 {
  padding-bottom: 24px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -4px;
    margin-right: -4px; */
}
.col {
  /* padding-left: 4px;
    padding-right: 4px;  */
}
.row.no-gutters .col {
  /* padding-left: 0;
    padding-right: 0; */
}
.select-input {
  position: relative;
  padding: 0.5rem 1rem;
  min-width: 10rem;
  border-radius: 2px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.select-input__lable {
  font-size: 1rem;
}
/*selection*/
.select-lable-list {
  position: absolute;
  left: 0;
  list-style: none;
  top: 80%;
  padding-left: 0;
  padding-bottom: 1rem;
  text-align: justify;
  background-color: #fff;
  display: none;
  z-index: 1;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.select-lable-item {
  padding: 1rem 1rem 0 1rem;
  color: #333;
  transition: all 0.3s ease-in-out;
}
.select-lable-link {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  width: 100%;
}
.select-lable-item:hover {
  background-color: var(--primary-color);
}
.select-lable-list::before {
  content: "";
  height: 10px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: -4px;
  left: 0;
}
.select-input:hover .select-lable-list {
  display: block;
}
/*pagination*/
.pagination {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.pagination-item {
  background-color: #f5f5f5;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0px 12px;
}
.pagination-item:hover,
.pagination-item__link:hover {
  background-color: var(--primary-color);
  color: white;
}
.pagination-item__link {
  text-decoration: none;
  display: block;
  height: 30px;
  min-width: 40px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 30px;
  border-radius: 2px;
}
.pagination-item-active .pagination-item__link {
  color: #fff;
  background-color: var(--primary-color);
}

.register {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  position: fixed;
  top: 15%;
  left: 6%;
  /* toàn bộ cái popup màu xám */
  z-index: 99999999999;
  transition: all ease-in-out 0.5s;
  display: none;
}
.register_active {
	display: block;
  transition: all ease-in-out 0.5s;
}
.register .register_child {
  top: 20%;
  left: 20%;
}
.register-left {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-item {
  cursor: pointer;
}
.register-left input {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right {
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.register-left p {
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form {
  padding: 10%;
  margin-top: 10%;
}
.btnRegister {
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 45%;
  cursor: pointer;
}
.btn_signup {
  display: flex;
  justify-content: space-between;
}
.register .nav-tabs {
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover {
  border: none;
}
.register .nav-tabs .nav-link.active {
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}
