:root {
    --primaryColor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #eb0028;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210;
    --blue: rgb(56, 10, 223);
  }
.footer {
    background-color: var(--black3);
    padding: 2.5rem 0;
    line-height: 2rem;
  }
  
  .icon {
    width: 1.5rem;
    margin-top: 0.25rem;
    margin-right: 0.75rem;
    height: 1.5rem;
    color: white;
  }
  .parent_footer {
      background: red;
  }
  .footer-top__box div {
    display: flex;
    justify-content: flex-start;
    justify-content: flex-start;
  }
  .footer-top__box {

  }
  .footer__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    text-align: justify;
  }
  
  .footer-top__box a:link,
  .footer-top__box a:visited {
    display: block;
    color: white;
    font-size: 1rem;
    transition: 0.6s;
  }
  
  .footer-top__box a:hover {
    color: #0854f8;
    text-decoration: none;
  }
  
  .footer-top__box div {
    color: white;
    text-align: justify;
    font-size: 1rem;
  }
  
  .footer-top__box h5 {
    font-weight: 600;
    margin-bottom: 1rem;
  }